<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    <bean id="dog" class="org.example.Dog">-->
<!--&lt;!&ndash;        <property name="legs" value="4"/>&ndash;&gt;-->
<!--        <constructor-arg name="legs" value="4"/>-->
<!--    </bean>-->

    <bean id="student" class ="org.example.Student">
        <constructor-arg name="name" value="Tine"/>
        <constructor-arg name="age" value="21"/>
    </bean>

</beans>
